<ons-page class="center" style="padding : 8px">
	<ons-navigator-toolbar
		title="Select previous enjoyment (2/2)">
	</ons-navigator-toolbar>



      	<ons-list>

	        	<ons-list-item class="topcoat-list__item__line-height">	        
	        		<ons-radio-button 
	          ng-model="level" 
	          value="Easy" 
	          right-label="Easy" 
	          name="level-group">coffee in sun
	       	</ons-radio-button>
	          </ons-list-item>
	        	        	<ons-list-item class="topcoat-list__item__line-height">	        
	        		<ons-radio-button 
	          ng-model="level" 
	          value="Easy" 
	          right-label="Easy" 
	          name="level-group">coffee in sun
	       	</ons-radio-button>
	          </ons-list-item>
	        	        	<ons-list-item class="topcoat-list__item__line-height">	        
	        		<ons-radio-button 
	          ng-model="level" 
	          value="Easy" 
	          right-label="Easy" 
	          name="level-group">coffee in sun
	       	</ons-radio-button>
	          </ons-list-item>
	    </ons-list>-->


</ons-page>



